*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* prima parte */
header{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3%;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  background-color: cadetblue;
  padding: 10px 20px;
  cursor: pointer;
}



.navbar a:hover {
  background-color: greenyellow;
}

.navbar a.active{
  background-color: red;
}


main{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

main form{
  display: flex; 
  justify-content: center; 
  padding-top: 30px;
  padding-bottom: 20px;
  flex-direction: column;
}

main form input{
  border-radius: 10px;
  border: solid 2px greenyellow;
  font-size: 20px;
  margin-top: 15px;
  
}

main form button{
  padding: 5px 10px;
  cursor: pointer;
  background-color:greenyellow;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 15px;
}

.post-set{
  margin: 20px;
  border: 2px solid greenyellow;
  padding: 10px;
  border-radius: 20px;
  background-color: aliceblue;
}

.post-set h2{
  margin-bottom: 20px;
}

.post-set p{
  margin-bottom: 10px;
}

.textarea{
  margin-top: 20px;
  border: 2px solid greenyellow;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.remove{
  border: 2px solid greenyellow;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.remove a{
  text-decoration: none;
  color: black;
}

/* content */
.content-set img{
  height: 300px;

}

.content-set div {
  margin-top: 20px;
  border: 2px solid greenyellow;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
 
}

.content-set div p{
  padding: 10px;
 
}